#Ashley{
    background-image: url(" ");
    height: 100vh;
    background-position: center;
    Background-repeat:
    background-size: cover;
  }
.bp2{
  background-image: url(" jpe" );
  background-attachment: fixed;
  background-color: MistyRose;
}
.Essay{
  background-color: MistyRose;
}
.pictures{
  background-color: MistyRose;
}
.Hobbies{
  background-color: MistyRose;
}
#ash{

  width: 1000px;
}
